extends layout.pug

block scripts
	script.
		$(function () {
			$('#sortable-player-list').sortable();
			$('#sortable-player-list').disableSelection();
		});

block content
	h1 Darts Scorer
	p.
		Here you can start a new darts game, or view players, owes or previous matches by selecting from the menu at the top
	p
		button(class='btn btn-primary' type='button' data-toggle='collapse' data-target='#newMatchCollapse' aria-expanded='false' aria-controls='newMatchCollapse') Create Match &raquo;
	div(class='collapse' id='newMatchCollapse')
		div(class='card card-block')
			if players.length == 0
				p.
					Players must be added before you can start a new game
			else
				form(action='/match/new' method='POST' id='newMatchForm')
					legend Players
					div(class='form-group form-check' id='sortable-player-list')
						each player in players
							div(class='form-check' style='padding-bottom: 10px; width: 230px;')
								input(type='checkbox' name='players' class='form-check-input' id='checkbox_player' + player.id value=player.id)
								label(style='margin-left: 10px; width: 200px; text-transform: uppercase;' class='form-check-label btn btn-warning' for='checkbox_player' + player.id)= player.name

					div(class='form-group')
						label(for='matchTypeSelect') Starting Score
						select(class='form-control' name='startingScore' id='matchTypeSelect')
							option 301
							option(selected='selected') 501
							option 701

					div(class='form-group')
						label(for='matchTypeSelect') Game Mode
						select(class='form-control' name='gameType' id='gameTypeSelect')
							each gameType in gameTypes
								option(value=gameType.matches_required)=gameType.name

					div(class='form-group')
						label(for='matchStakeSelect') Match Stake
						select(class='form-control' name='matchStake' id='matchStakeSelect')
							option(value=undefined) -
							option Cake
							option Beer

					button(type='submit' name='submit' form='newMatchForm' id='startMatchButton' class='btn btn-primary') Start