html
	head
		link(rel='stylesheet', href='/css/site.css')
		title Cake Darts
	body
		button(type='button' class='btn btn-info btn-lg') New Game
		button(type='button' class='btn btn-info btn-lg') Continue Game