html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
		link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.css' crossorigin='anonymous')
		script(src='/js/fastclick.js')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
		script(type='text/javascript' src='https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.js' crossorigin='anonymous')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js' crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
		script(src='/js/frontendHelpers.js')
		script(src='/js/webgl-heatmap.js')
		link(rel='stylesheet', href='/css/site.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet')
		block scripts
	body
		div(class='container')
			nav(class='navbar navbar-default')
				div(class='container-fluid')
					div(class='navbar-header')
						button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
							span(class='sr-only') Toggle navigation
							span(class='icon-bar')
							span(class='icon-bar')
							span(class='icon-bar')
						a(class='navbar-brand' href='/') Darts Scorer
					div(id='navbar' class='navbar-collapse collapse')
						ul(class='nav navbar-nav')
							li(class='active')
								li: a(href='/player/list') Players
								li: a(href='/cake/owes') Owes
								// li: a(href='/match/list') Matches
								li: a(href='/game/list') Games
			div(class='jumbotron')
				block content
