html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
		script(src='/js/frontendHelpers.js')
		block scripts
	body
		div(class='container')
			nav(class='navbar navbar-default')
				div(class='container-fluid')
					div(class='navbar-header')
						button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
							span(class='sr-only') Toggle navigation</span>
							span(class='icon-bar')
							span(class='icon-bar')
							span(class='icon-bar')
						a(class='navbar-brand' href='/') Darts Scorer
					div(id='navbar' class='navbar-collapse collapse')
						ul(class='nav navbar-nav')
							li(class='active')
								li: a(href='/player/list') Players
								li: a(href='/cake/owes') Owes
								li: a(href='/match/list') Matches
			div(class='jumbotron')
				block content